<div class="row posts">
    {% for article in posts %}
        {% set paginator = posts %}
        <div class="col s12 m4 l4">
            <div class="imageWithFooter --orange">
                <img src="{{ article.picture ? asset('uploads/posts/' ~ article.picture) : asset('build/img/webtv/streamer.png')}}" alt="{{ article.title }}">
                <a href="{{ path('show_article_slug', {slug: article.slug}) }}" class="footer">
                    <div class="links">
                        {% if article.tags.count %}
                            <p class="tag">{{ article.tags[0].name }}</p>
                        {% endif %}
                        <p class="channel">{{ article.title }}</p>
                    </div>
                    <div class="fleche">
                        <img src="{{ asset('build/img/blog/fleche.png') }}" alt="{{ article.title }}">
                    </div>
                </a>
            </div>
        </div>
    {% else %}
        <div class="col s12">{{ 'blog.no_posts' |trans }}</div>
    {% endfor %}

</div>
