{% extends 'base.html.twig' %}

{% block title article.title ~ ' - GameHer' %}
{% block body_id 'article' %}

{% block main %}
	<div class="container-fluid">
		<div class="row article__row">
			<div class="article__header">
				<img src="{{ asset('build/img/blog/entete.png') }}" alt="{{ article.slug }}">
			</div>
			<h1 class="article__title">{{ article.title }}</h1>
		</div>
	</div>

	{% set tags = [] %}
	{% for tag in article.tags %}
		{% set tags = tags|merge([tag.name]) %}
	{% endfor %}
	<div class="container">
		<div class="row">
			<div class="col">
				<h2 class="article__second_title">{{ article.title }}</h2>
				<p class="article__metadata">
					Posté par <a href="{{ path('blog', {author: article.author.displayName}) }}" class="article__author">{{ article.author.displayName }}</a> le {{ article.publishedAt |date('d M Y') }} dans<span>
						{% for tag in article.tags %}<a href="{{ path('blog', {tag: tag.name}) }}" class="article__tag">{{ tag.name }}</a>{% if not loop.last %}, {% endif %}{% endfor %}
					</span>
				</p>
			</div>
		</div>

		<div class="row">
			<div class="col article__content">
				{{ article.content |raw }}
			</div>
		</div>
	</div>
	<div class="container-fluid followUs">
		<h4 class="followUs__subtitle">{{ 'article.follow_us.title' |trans }}</h4>
		<h3 class="followUs__title">{{ 'article.follow_us.donation' |trans({
				'%link%': '<a href="'~ path('donations') ~ '">',
				'%endlink%': '</a>'
			}) |raw }}</h3>
	</div>

	<div class="container author">
		{% include('views/blog/_author.html.twig') with {author: article.author} %}
	</div>
	<hr>

	{{  render(controller('App\\Controller\\SideController::recommended')) }}
	<hr>
{% endblock %}
