{% extends 'base.html.twig' %}

{% block body_id 'index' %}

{% block main %}
	<div class="container">

		<div class="row news">
			<div class="col s12 m8 l9">
				<h1 class="news__title">News & Articles</h1>
				<h2 class="news__subtitle">Nos articles sur le monde du jeu vidéo</h2>
			</div>
			<div class="col s12 m4 l3">
				<form action="{{ path('blog') }}" method="get" class="news__form">
					<input type="text" placeholder="Recherche" class="news__search" name="query">
				</form>
				<select name="categories" id="news__categories">
					<option value="" disabled selected>Sélectionner une catégorie</option>
					{% for tag in tags %}
						<option value="{{ tag.name }}">{{ tag.name }}</option>
					{% endfor %}
				</select>
			</div>
		</div>

		<div class="row posts">
			{% for article in paginator.results %}
			<div class="col s6 l4">
				<div class="article">
					<img src="{{ asset('build/img/webtv/streamer.png') }}" alt="{{ article.title }}">
					<a href="{{ path('show_article_slug', {slug: article.slug}) }}" class="footer">
						<div class="links">
							<p class="tag">{% for tag in article.tags %}{{ tag.name }} {% endfor %}</p>
							<p class="channel">{{ article.title }}</p>
						</div>
						<div class="fleche">
							<img src="{{ asset('build/img/blog/fleche.png') }}" alt="{{ article.title }}">
						</div>
					</a>
				</div>
			</div>
			{% else %}
				<div class="col s12">No posts</div>
			{% endfor %}

		</div>
		<div class="row pagination">
			<div class="col">
				{% include 'views/blog/_pagination.html.twig' %}
			</div>
		</div>
	</div>
	<hr>
{% endblock %}
