{% spaceless %}
	{% trans_default_domain 'admin' %}

	<h2>{{ 'members.index.esport_title'|trans }}
		<a href="{{ path('admin_esport_members_new') }}" class="btn green right">
			{{ 'default.action.add'|trans }}
			<i class="fa fa-plus" aria-hidden="true"></i>
		</a>
	</h2>

	<table class="table table-striped table-middle-aligned">
		<thead>
		<tr>
			<th scope="col">{{ 'members.index.label.name'|trans }}</th>
			<th scope="col">{{ 'members.index.label.role'|trans }}</th>
			<th scope="col">{{ 'members.index.label.team'|trans }}</th>
			<th scope="col" class="center-align"><i class="fa fa-cogs" aria-hidden="true"></i> {{ 'members.index.label.actions'|trans }}</th>
		</tr>
		</thead>
		<tbody>
		{% for member in esports %}
			<tr>
				<td>{{ member.nickname }}</td>
				<td>{{ ('members.esport.role.' ~ member.role) |trans }}</td>
				<td>{{ ('members.esport.team.' ~ member.team) |trans }}</td>
				<td class="right-align">
					<div class="item-actions">
						<a href="{{ path('admin_members_edit', {uuid: member.uuidAsString}) }}" class="btn teal">
							{{ 'default.action.edit'|trans }}
							<i class="fa fa-edit" aria-hidden="true"></i>
						</a>
						<form action="{{ url('admin_members_delete', {uuid: member.uuidAsString}) }}" method="post" data-confirmation="true" id="delete-form" style="display:inline-block">
							<input type="hidden" name="token" value="{{ csrf_token('delete') }}" />
							<button type="submit" class="btn red">
								{{ 'default.action.delete'|trans }}
								<i class="fa fa-trash" aria-hidden="true"></i>
							</button>
						</form>
					</div>
				</td>
			</tr>
		{% else %}
			<tr>
				<td colspan="4" align="center">{{ 'members.index.no_results'|trans }}</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
{% endspaceless %}
