{% extends 'base.html.twig' %}

{% block body_id 'esport' %}

{% block main %}
	{% include "common/titleBanner.html.twig" with {
		mainTitle: "esport.title" | trans,
		content: "esport.subtitle" | trans,
		color: 'var(--gh-orange)',
	} only %}

	{#	League Of Legends	#}
	<section class="leagueTeams open">
		<div class="container">
			<div class="row">
				<div class="col s6">
					<div class="leagueTeams__title">{{ 'esport.league.title'|trans }}</div>
					<p class="leagueTeams__description esportToggled main">
						L'équipe GameHer Esport League of Legends est la figure de proue de notre structure. Elle est un mélange parfait de la notion de mixité et des objectifs de performance que nous souhaitons voir émerger dans l'esport.
					</p>
					<p class="leagueTeams__description esportToggled academy">
						L'équipe GameHer Esport Academy.
					</p>
				</div>
				<div class="col s6">
					<div class="row">
						<div class="col s6 leagueTeams__team">
							<p class="leagueTeams__teamName">{{ 'esport.league.main_team'|trans }}</p>
							<button class="btn leagueTeams__button" data-team="main">{{ 'esport.league.show_team'|trans }}</button>
						</div>
						<div class="col s6 leagueTeams__team">
							<p class="leagueTeams__teamName">{{ 'esport.league.academy_team'|trans }}</p>
							<button class="btn leagueTeams__button" data-team="academy">{{ 'esport.league.show_team'|trans }}</button>
						</div>
					</div>
				</div>
			</div>

			{#	Main Team	#}
			<div class="row esportToggled main">
				{% for player in main_team %}
				<div class="col s4 l3 leaguePlayer">
					<div class="leaguePlayer__image">
						<img src="{{ asset('build/img/esport/player.png') }}" alt="" class="leaguePlayer__image">
					</div>
					<p class="leaguePlayer__name">{{ player.firstname }} <span class="leaguePlayer__nickname">{{ player.nickname }}</span> {{ player.lastName }}</p>
					<p class="leaguePlayer__role">{{ ('esport.member.role.' ~ player.role) |trans }}</p>
					<p class="leaguePlayer__social">
						{% if player.twitch is not null %}<a href="//twitch.tv/{{ player.twitch }}" target="_blank" rel="noreferrer noopener"><i class="fab fa-twitch"></i></a> {% endif %}
						{% if player.twitter is not null %}<a href="//twitter.com/{{ player.twitter }}" target="_blank" rel="noreferrer noopener"><i class="fab fa-twitter"></i></a> {% endif %}
						{% if player.instagram is not null %}<a href="//instagram.com/{{ player.instagram }}" target="_blank" rel="noreferrer noopener"><i class="fab fa-instagram"></i></a> {% endif %}
						{% if player.facebook is not null %}<a href="//facebook.com/{{ player.facebook }}" target="_blank" rel="noreferrer noopener"><i class="fab fa-facebook-square"></i></a> {% endif %}
					</p>
				</div>
				{% endfor %}
			</div>

			{#	Academy Team	#}
			<div class="row esportToggled academy">
				{% for player in academy %}
					<div class="col s4 l3 leaguePlayer">
						<div class="leaguePlayer__image">
							<img src="{{ asset('build/img/esport/player.png') }}" alt="" class="leaguePlayer__image">
						</div>
						<p class="leaguePlayer__name">{{ player.firstname }} <span class="leaguePlayer__nickname">{{ player.nickname }}</span> {{ player.lastName }}</p>
						<p class="leaguePlayer__role">{{ ('esport.member.role.' ~ player.role) |trans }}</p>
						<p class="leaguePlayer__social">
							{% if player.twitch is not null %}<a href="//twitch.tv/{{ player.twitch }}" target="_blank" rel="noreferrer noopener"><i class="fab fa-twitch"></i></a> {% endif %}
							{% if player.twitter is not null %}<a href="//twitter.com/{{ player.twitter }}" target="_blank" rel="noreferrer noopener"><i class="fab fa-twitter"></i></a> {% endif %}
							{% if player.instagram is not null %}<a href="//instagram.com/{{ player.instagram }}" target="_blank" rel="noreferrer noopener"><i class="fab fa-instagram"></i></a> {% endif %}
							{% if player.facebook is not null %}<a href="//facebook.com/{{ player.facebook }}" target="_blank" rel="noreferrer noopener"><i class="fab fa-facebook-square"></i></a> {% endif %}
						</p>
					</div>
				{% endfor %}
			</div>

		</div>
	</section>
{% endblock %}
