{% extends 'base.html.twig' %}

{% block body_id 'index' %}

{% block main %}
	<div id="wrapper" class="droplet">

		<!-- Intro -->
		<section class="intro">
			<header>
				<h1 class="page-header__title">Game'Her</h1>
				<p class="page-header__desc editor-content homepage__subtitle">Reveal Yourself</p>
				<ul class="actions">
					<li><a href="#first" class="arrow scrolly"><span class="label">Next</span></a></li>
				</ul>
			</header>
			<div class="content">
				<span class="image fill" data-position="center"><img src="{{ asset('build/img/homepage/PHOTOGRAPHIE.png') }}" alt="" /></span>
			</div>
		</section>

		<!-- Section -->
		<section id="first">
			<header>
				<h2 class="homepage__h2">Introduction</h2>
			</header>
			<div class="content">
				<h3 class="gameherMember__nickname">Notre mission</h3>
				<p><strong>Game'Her</strong> est une association loi 1901 créée en août 2017 et ayant pour but de développer un environnement sain pour tous les joueurs souhaitant s’investir dans le gaming, en leur fournissant les outils nécessaires pour qu’ils puissent s’ épanouir dans ce milieu.<br/>Nous souhaitons également les aider à évoluer dans les domaines du streaming et/ou de l’esport. Notre but étant de s’ouvrir à la mixité et à la diversité dans ces domaines tout en démocratisant la place de la femme dans l’univers du jeu vidéo.</p>
				<p><a href="{{ path('about') }}" class="btn btn-primary">En savoir plus</a></p>
			</div>
		</section>

		<!-- Section -->
		<section>
			<header>
				<h2 class="homepage__h2">Comment aider Game'Her ?</h2>
				<h3 class="dataList-title alignLeft">Devenir bénévole</h3>
				<p class="alignLeft whiteText"><strong>Vous souhaitez vous investir au sein de Game’Her en mettant à profit votre temps et vos compétences ?</strong></p>
				<p class="alignLeft whiteText">Nous travaillons exclusivement sur Discord, donc vous n’avez aucune contrainte physique ! Et nous essayons au maximum d’organiser des rencontres IRL entre les membres de l’association dès que nous le pouvons.</p>
				<a href="{{ path('recruitment') }}" class="btn btn-secondary">Nous rejoindre</a>
			</header>
			<div class="content">
				<span class="image main"><img src="{{ asset('build/img/recrutement/PHOTOGRAPHIE.png') }}" alt="" /></span>
			</div>
		</section>
	</div>
    {% include "common/dataListNoHover.html.twig" with {
        element_class: "sectionBlue",
        explanation: "recruitment.explanation" | trans,
        title_pole: "recruitment.titlePole" | trans,
        elements : [
            {
                logo_url: "/build/img/recrutement/PICTO_ESPORT.png",
                title: "Pôle Esport",
                title_class: "esportTitle",
                content: "Nous encadrons trois équipes 100% mixtes sur les jeux League of Legends et Hearthstone. Nous véhiculons notre message de mixité au travers de notre présence en LAN.",
            },
            {
                logo_url: "/build/img/recrutement/PICTO_COMMUCATION.png",
                title: "Pôle Communication",
                title_class: "communicationTitle",
                content: "Développement de la stratégie de communication dans l'optique de développer la visibilité de l'association sur les réseaux sociaux, au quotidien lors de nos événements ou de ceux auxquels nous participons.",
            },
            {
                logo_url: "/build/img/recrutement/PICTO_TWITCH.png",
                title: "Pôle Streaming",
                title_class: "streamingTitle",
                content: "Via la plateforme Twitch, nos streamers et casters proposent des lives sur divers jeux afin de diveritr notre communauté et de créer de l'interaction avec l'ensemble de la communauté.",
            },
            {
                logo_url: "/build/img/recrutement/PICTO_TOURNOIS.png",
                title: "Pôle Evénementiel",
                title_class: "tournoiTitle",
                content: "Mise en place de tournois et d'événements au nom de l'association afin de permettre aux joueurs et joueuses d'appréhender le milieu et de s'insérer dans l'esport au travers d'un environnement sain.",
            },
            {
                logo_url: "/build/img/recrutement/PICTO_GRAPHISME.png",
                title: "Pôle Graphisme",
                title_class: "graphismeTitle",
                content: "Nos graphistes produisent tous les visuels nécessaires à Game'Her pour sa communication, sa présence en ligne, ses événements, ses relations partenariales, ...",
            },
            {
                logo_url: "/build/img/recrutement/PICTO_PRESSE.png",
                title: "Pôle Presse",
                title_class: "presseTitle",
                content: "Nos rédacteurs et éditeurs réalisent des articles de presse suivant une ligne éditoriale sur les thèmes de l'esport, du jeu vidéo et de la mixité dans ces secteurs.",
            }
        ]
    } only %}
	{{  render(controller('App\\Controller\\SideController::recommended')) }}
	<hr>
{% endblock %}
