{% extends 'base.html.twig' %}

{% block body_id 'index' %}

{% block main %}
	<div id="wrapper" class="droplet">

		<!-- Intro -->
		<section class="intro">
			<header>
				<h1 class="page-header__title">Game'Her</h1>
				<p class="page-header__desc editor-content homepage__subtitle">Reveal Yourself</p>
				<ul class="actions">
					<li><a href="#first" class="arrow scrolly"><span class="label">Next</span></a></li>
				</ul>
			</header>
			<div class="content">
				<span class="image fill" data-position="center"><img src="{{ asset('build/img/homepage/Sitehomepage.jpeg') }}" alt="" /></span>
			</div>
		</section>

		<!-- Section -->
		<section id="first">
			<header>
				<h2 class="homepage__h2">Introduction</h2>
			</header>
			<div class="content">
				<h3 class="gameherMember__nickname">Notre mission</h3>
				<p>Game'Her est une association ayant pour but de promouvoir la mixité, la diversité et l’inclusion dans les domaines du jeu vidéo, de l’audiovisuel et de l’esport. Nos actions regroupent la sensibilisation, l’information, la participation à des événements, l’organisation de tournois mixtes et la collaboration.</p>
				<p><a href="{{ path('about') }}" class="btn btn-primary">En savoir plus</a></p>
			</div>
		</section>

		<!-- Section -->
		<section>
			<header>
				<h2 class="homepage__h2">Comment aider Game'Her ?</h2>
				<h3 class="dataList-title alignLeft">Devenir bénévole</h3>
				<p class="alignLeft whiteText"><strong>Vous souhaitez vous investir au sein de Game’Her en mettant à profit votre temps et vos compétences ?</strong></p>
				<p class="alignLeft whiteText">Nous travaillons exclusivement sur Discord, donc vous n’avez aucune contrainte physique ! Et nous essayons au maximum d’organiser des rencontres IRL entre les membres de l’association dès que nous le pouvons.</p>
				<a href="{{ path('recruitment') }}" class="btn btn-secondary">Nous rejoindre</a>
			</header>
			<div class="content">
				<span class="image main"><img src="{{ asset('build/img/recrutement/PHOTOGRAPHIE.png') }}" alt="" /></span>
			</div>
		</section>
	</div>
    {% include "common/dataList.html.twig" with {
        element_class: "sectionBlue",
        title_pole: "recruitment.titlePole" | trans,
        explanation: "recruitment.explanation" | trans,
         elements : [
            {
                logo_url: "/build/img/recrutement/PICTO_ESPORT.png",
                title: "Esport",
                title_class: "esportTitle",
                content: "Nous organisons des tournois mixtes sur différents jeux (League Of Legends, Hearthstone…).",
            },
            {
                logo_url: "/build/img/recrutement/PICTO_COMMUCATION.png",
                title: "Communication",
                title_class: "communicationTitle",
                content: "Nous développons des stratégies de communication afin de rendre l’association et nos actions plus visibles. Nous réalisons également des campagnes de sensibilisation et d’information via les réseaux sociaux.",
            },
            {
                logo_url: "/build/img/recrutement/PICTO_TWITCH.png",
                title: "Streaming",
                title_class: "streamingTitle",
                content: "Sur Twitch, nous diffusons des lives jeux et des émissions sur la diversité, afin de sensibiliser et de divertir notre communauté.",
            },
            {
                logo_url: "/build/img/recrutement/PICTO_TOURNOIS.png",
                title: "Événements",
                title_class: "tournoiTitle",
                content: "Nous organisons et participons à différents événements : conférences, tables rondes, festivals… Notre objectif est de sensibiliser le grand public aux valeurs de mixité et de diversité dans les jeux vidéo.",
            },
            {
                logo_url: "/build/img/recrutement/PICTO_GRAPHISME.png",
                title: "Graphisme",
                title_class: "graphismeTitle",
                content: "Nos graphistes réalisent tous les visuels liés à l’image de Game’Her et à nos actions : communication, événements, site internet, partenariats…",
            },
            {
                logo_url: "/build/img/recrutement/PICTO_PRESSE.png",
                title: "Presse",
                title_class: "presseTitle",
                content: "Nos rédactrices et rédacteurs rédigent des articles sur les thèmes de l'esport, des jeux vidéo ainsi que de la diversité dans ces secteurs.",
            }
        ]
    } only %}
	{{  render(controller('App\\Controller\\SideController::recommended')) }}
	<hr>
{% endblock %}
