{% extends 'base.html.twig' %}

{% block title 'Partenaires - GameHer' %}
{% block body_id 'partners' %}

{% block main %}
	{% include "common/titleBanner.html.twig" with {
		mainTitle: "partners.title" | trans,
		content: "partners.subtitle" | trans,
		color: 'var(--gh-pink)',
	} only %}

	{% for partner in partners %}
	<section class="partner {{ loop.index is odd ? 'white' : 'dark' }}">
		<div class="container">
			<div class="row">
				<div class="col s12 m6 partner__image">
					<img src="{{ asset('uploads/partners/' ~ partner.logo) }}" alt="{{ partner.name }}" class="partner__logo">
				</div>
				<div class="col s12 m6 partner__content">
					<h3 class="partner__name">{{ partner.name }}</h3>
					<p class="partner__description">{{ partner.description }}</p>
					{% if partner.website or partner.twitter or partner.instagram or partner.facebook %}
					<p class="partner__social">
						{% if partner.website %}<a href="{{ partner.website }}" target="_blank" rel="noopener noreferrer"><i class="fa fa-globe"></i></a>{% endif %}
						{% if partner.twitter %}<a href="{{ partner.twitter }}" target="_blank" rel="noopener noreferrer"><i class="fab fa-twitter"></i></a>{% endif %}
						{% if partner.instagram %}<a href="{{ partner.instagram }}" target="_blank" rel="noopener noreferrer"><i class="fab fa-instagram"></i></a>{% endif %}
						{% if partner.facebook %}<a href="{{ partner.facebook }}" target="_blank" rel="noopener noreferrer"><i class="fab fa-facebook-square"></i></a>{% endif %}
					</p>
					{% endif %}
				</div>
			</div>
		</div>
	</section>
	{% endfor %}
{% endblock %}
