{% extends 'base.html.twig' %}

{% block body_id 'index' %}

{% block main %}
	{% include "common/titleBanner.html.twig" with {
		mainTitle: 'Nos tournois',
		content: '',
		className: '--orange',
	} only %}

	<section class="gameherLeague">
		<div class="container">
			<div class="row gameherLeague__row">
				<div class="col s6">
					<h3 class="gameherLeague__title">{{ 'tournament.ghleague.title'|trans }}</h3>
				</div>
				<div class="col s6 gameherLeague__trigger">
					<button class="btn btn-show gameherLeague__button">{{ 'tournament.ghleague.show'|trans }}</button>
				</div>
			</div>
		</div>
		<div class="container gameherLeague__infography">
			<div class="row gameherLeague__introduction">
				<div class="col s4">
					<img src="{{ asset('build/img/tournaments/GHleague-logo.png') }}" alt="Game'Her League">
				</div>
				<div class="col s4">
					<p>The Game'Her League is an online tournament promoting diversity in esport.</p>
				</div>
			</div>
			<div class="row gameherLeague__stats">
				<div class="col s4 gameherLeague__kpi">
					<img src="{{ asset('build/img/tournaments/players.png') }}" alt="210 Joueurs">
				</div>
				<div class="col s4 gameherLeague__kpi">
					<img src="{{ asset('build/img/tournaments/teams.png') }}" alt="52 Equipes">
				</div>
				<div class="col s4 gameherLeague__kpi2">
					<img src="{{ asset('build/img/tournaments/matches.png') }}" alt="59 matchs disputés">
					<img src="{{ asset('build/img/tournaments/qualifiers.png') }}" alt="13 qualifiers">
				</div>
			</div>
			<div class="row gameherLeague__podium">
				<div class="col s12">
					<img src="{{ asset('build/img/tournaments/podium.png') }}" alt="Podium">
				</div>
			</div>
		</div>
	</section>

{% endblock %}
