{% extends 'base.html.twig' %}

{% block title 'WebTV - GameHer' %}
{% block body_id 'webtv' %}

{% block main %}
	<section class="container-fluid">
		<div id="twitch-embed" style="height: 720px"></div>
	</section>

	<section class="streamPanels">
		<div class="container">
			<div class="row">
				<div class="col s12 m4">
					<img src="{{ asset('build/img/webtv/abonnement.jpg') }}" alt="">
				</div>
				<div class="col s12 m4">
					<a href="{{ path('donations') }}"><img src="{{ asset('build/img/webtv/donations.jpg') }}" alt=""></a>
					<a href=""><img src="{{ asset('build/img/webtv/discord.jpg') }}" alt=""></a>
					<a href="//twitter.com/GameHer"><img src="{{ asset('build/img/webtv/twitter.jpg') }}" alt=""></a>
				</div>
				<div class="col s12 m4">
					<img src="{{ asset('build/img/webtv/regles.jpg') }}" alt="">
					<a href="//instagram.com/gameheroff"><img src="{{ asset('build/img/webtv/instagram.jpg') }}" alt=""></a>
					<a href="#"><img src="{{ asset('build/img/webtv/planning.jpg') }}" alt=""></a>
				</div>
			</div>
		</div>
	</section>

	<section class="textBanner --red">
		<div class="container">
			<h3 class="textBanner__title">{{ 'webtv.banner.do_not_miss_us'| trans }}</h3>
			<h4 class="textBanner__subtitle">{{ 'webtv.banner.install_extension' |trans({'%link%': '<a href="#">', '%endlink%': '</a>'}) |raw }}</h4>
		</div>
	</section>

	<section class="twitchExtension">
		<div class="container">
			<div class="row">
				<div class="col s12 l6">
					<h3>{{ 'webtv.extension.title' | trans }}</h3>
					<p>{{ 'webtv.extension.description' |trans |nl2br }}</p>
				</div>
				<div class="col s12 l6 valign-wrapper">
					<img src="{{ asset('build/img/webtv/CHROME_WEB_STORE.png') }}" alt="Chrome WebStore">
				</div>
			</div>
		</div>
	</section>

	<section class="textBanner --blue">
		<div class="container">
			<h3 class="textBanner__title">{{ 'webtv.banner.our_streamers' | trans }}</h3>
			<h4 class="textBanner__subtitle">{{ 'webtv.banner.their_channel' |trans |raw }}</h4>
		</div>
	</section>

	<section class="streamersGH">
		<div class="container">
			<div class="row">
				{% for streamer in streamers %}
					<div class="col s6 l4">
						<div class="imageWithFooter --red">
							<img src="{{ asset('build/img/webtv/streamer.png') }}" alt="{{ streamer.name }}">
							<div class="footer">
								<div class="links">
									<p class="name">{{ streamer.name }}</p>
									<p class="channel">Twitch.tv/{{ streamer.channel }}</p>
								</div>
								<a href="//twitch.tv/{{ streamer.channel }}" class="fleche" target="_blank" rel="noopener noreferrer">
									<img src="{{ asset('build/img/webtv/fleche.png') }}" alt="{{ streamer.channel }}">
								</a>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</section>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script src="https://embed.twitch.tv/embed/v1.js"></script>
	<script type="text/javascript">
		new Twitch.Embed("twitch-embed", {
			channel: "gamehertv",
			width: '100%',
			height: '720px'
		});
	</script>
{% endblock %}
