{% extends 'admin/admin.html.twig' %}
{% trans_default_domain 'admin' %}

{% block content %}
    <h2>
			{{ 'roles.index.title'|trans }}
			<span class="right">
				<a href="{{ path('admin_roles_new') }}" class="btn green">
					{{ 'default.action.add'|trans }}
					<i class="fa fa-plus" aria-hidden="true"></i>
				</a>
			</span>
		</h2>

    <table class="table table-striped table-middle-aligned">
    <thead>
    <tr>
        <th scope="col">{{ 'roles.index.label.name'|trans }}</th>
        <th scope="col">{{ 'roles.index.label.category'|trans }}</th>
        <th scope="col" class="center-align"><i class="fa fa-cogs" aria-hidden="true"></i> {{ 'roles.index.label.actions'|trans }}</th>
    </tr>
    </thead>
    <tbody>
    {% for role in roles %}
        <tr>
            <td>{{ role.name }}</td>
            <td>{{ role.category }}</td>
            <td class="right-align">
                <div class="item-actions">
                    <a href="{{ path('admin_roles_show', {uuid: role.uuidAsString}) }}" class="btn pink">
											{{ 'default.action.show'|trans }}
											<i class="fa fa-eye" aria-hidden="true"></i>
                    </a>
                    <a href="{{ path('admin_roles_edit', {uuid: role.uuidAsString}) }}" class="btn teal">
											{{ 'default.action.edit'|trans }}
											<i class="fa fa-edit" aria-hidden="true"></i>
                    </a>
                    <form action="{{ url('admin_roles_delete', {uuid: role.uuidAsString}) }}" method="post" data-confirmation="true" id="delete-form" style="display:inline-block">
                        <input type="hidden" name="token" value="{{ csrf_token('delete') }}" />
                        <button type="submit" class="btn red">
													{{ 'default.action.delete'|trans }}
													<i class="fa fa-trash" aria-hidden="true"></i>
                        </button>
                    </form>
                </div>
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="4" align="center">{{ 'roles.index.no_results'|trans }}</td>
        </tr>
    {% endfor %}
    </tbody>
    </table>
{% endblock %}

{% block sidebar %}
    <div class="section actions">
        <a href="{{ path('admin_roles_new') }}" class="btn btn-lg btn-block btn-success">
            <i class="fa fa-plus" aria-hidden="true"></i> {{ 'default.action.add'|trans }}
        </a>
    </div>

    {{ parent() }}
{% endblock %}
