{% extends 'admin/admin.html.twig' %}

{% block content %}
    <h2>Ajouter un streamer</h2>

	{{ form_start(form) }}
		<div class="input-field">
			{{ form_label(form.name) }}
			{{ form_widget(form.name) }}
		</div>
	<div class="input-field">
		{{ form_label(form.channel) }}
		{{ form_widget(form.channel) }}
	</div>
	<div class="file-field input-field">
		<div class="btn"><span>File</span> {{ form_widget(form.picture) }}</div>
		<div class="file-path-wrapper"><input class="file-path" type="text" placeholder="Picture"</div>
	</div>
	<div class="input-field">
		{{ form_row(form.save) }}
	</div>
	{{ form_end(form) }}
{% endblock %}

{% block sidebar %}
    <div class="section actions">
        <a href="{{ path('admin_streamers_index') }}" class="btn btn-lg btn-block btn-danger">
            <i class="fa fa-return" aria-hidden="true"></i> Back
        </a>
    </div>

    {{ parent() }}
{% endblock %}
