<footer class="body-footer">
    <div class="container">
        <div class="row">
            <div class="col-3">
                GameHer Logo
            </div>
            <div class="col-3">
                <h5>GameHer</h5>
                <ul>
                    <li><a href="{{ path('blog') }}">{{ 'menu.blog'|trans }}</a></li>
                    <li><a href="{{ path('esport') }}">{{ 'menu.esport'|trans }}</a></li>
                    <li><a href="{{ path('webtv') }}">{{ 'menu.webtv'|trans }}</a></li>
                    <li><a href="{{ path('tournaments') }}">{{ 'menu.tournaments'|trans }}</a></li>
                    <li><a href="#">{{ 'menu.team.about'|trans }}</a></li>
                </ul>
            </div>
            <div class="col-3">
                <h5>Site Links</h5>
                <ul>
                    <li><a href="#">{{ 'menu.team.presskit'|trans }}</a></li>
                    <li><a href="{{ path('partners') }}">{{ 'menu.partners'|trans }}</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Mentions Légales</a></li>
                </ul>
            </div>
            <div class="col-3">
                <h5>Follow</h5>
                <p>Contact</p>
                <p>
                    <a href="https://twitter.com/GameHer" title="GameHer Twitter">
                        <i class="fab fa-twitter" aria-hidden="true"></i>
                    </a>
                    <a href="https://www.facebook.com/GameHer" title="GameHer Facebook">
                        <i class="fab fa-facebook" aria-hidden="true"></i>
                    </a>
                    <a href="#" title="GameHer Youtube">
                        <i class="fab fa-youtube" aria-hidden="true"></i>
                    </a>
                    <a href="#" title="GameHer Twitch">
                        <i class="fab fa-twitch" aria-hidden="true"></i>
                    </a>
                    <a href="#" title="GameHer Discord">
                        <i class="fab fa-discord" aria-hidden="true"></i>
                    </a>
                    <a href="#" title="GameHer Instagram">
                        <i class="fab fa-instagram" aria-hidden="true"></i>
                    </a>
                </p>
            </div>
        </div>
    </div>
</footer>