<footer class="body-footer page-footer white">
    {% include "common/partnerBanner.html.twig" with {
        partnerBanner_classImage: "partnerBanner_footer",
        partners : [
            {
                logo_url: "build/img/BE-QUIPE.png",
                logo_alt: "BEQUIPE",
                url: "https://bequipe.com/",
            },
            {
                logo_url: "build/img/NEWGOTRAVEL.png",
                logo_alt: "NewgoTravel",
                url: "https://newgotravel.com/",
            },
            {
                logo_url: "build/img/TheGLAB.png",
                logo_alt: "TheGLab",
                url: "https://the-g-lab.tech/",
            },
            {
                logo_url: "build/img/LMN8.png",
                logo_alt: "LMN8",
                url: "https://eliminate.fr/",
            }
        ]
    } only %}
    <hr style="background-color: #001724; width: 500px; height:3px;">
    <div class="container">
        <div class="row">
            <div class="col l3 s12">
                <img src="{{ asset('build/img/logo_footer.png') }}" alt="GameHer">
            </div>
            <div class="col l3 s12">
                <h5 class="primary">Game'Her</h5>
                <ul>
                    <li><a href="{{ path('blog') }}">{{ 'menu.blog'|trans }}</a></li>
                    <li><a href="{{ path('esport') }}">{{ 'menu.esport'|trans }}</a></li>
                    <li><a href="{{ path('webtv') }}">{{ 'menu.webtv'|trans }}</a></li>
                    <li><a href="{{ path('tournaments') }}">{{ 'menu.tournaments'|trans }}</a></li>
                    <li><a href="#">{{ 'menu.team.about'|trans }}</a></li>
                </ul>
            </div>
            <div class="col l3 s12">
                <h5 class="primary">Liens utiles</h5>
                <ul>
                    <li><a href="#">{{ 'menu.team.presskit'|trans }}</a></li>
                    <li><a href="{{ path('partners') }}">{{ 'menu.partners'|trans }}</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Mentions Légales</a></li>
                </ul>
            </div>
            <div class="col l3 s12">
                <h5 class="primary">Nous suivre</h5>
                <p>
                    <a href="https://twitter.com/GameHer" title="GameHer Twitter">
                        <i class="fab fa-twitter" aria-hidden="true"></i>
                    </a>
                    <a href="https://www.facebook.com/GameHer" title="GameHer Facebook">
                        <i class="fab fa-facebook" aria-hidden="true"></i>
                    </a>
                    <a href="#" title="GameHer Youtube">
                        <i class="fab fa-youtube" aria-hidden="true"></i>
                    </a>
                    <a href="#" title="GameHer Twitch">
                        <i class="fab fa-twitch" aria-hidden="true"></i>
                    </a>
                    <a href="#" title="GameHer Discord">
                        <i class="fab fa-discord" aria-hidden="true"></i>
                    </a>
                    <a href="#" title="GameHer Instagram">
                        <i class="fab fa-instagram" aria-hidden="true"></i>
                    </a>
                </p>
            </div>
        </div>
    </div>
</footer>
