
<header>
    <div class="navbar navbar-default navbar-expand-md navbar-static-top bg-light" role="navigation">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{ path('index') }}">GameHer</a>
            <button class="navbar-toggler"
                    type="button"
                    data-toggle="collapse"
                    data-target=".navbar-collapse"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="sr-only">{{ 'menu.toggle_nav'|trans }}</span>
                <i class="fa fa-bars"></i>
            </button>

            <div class="navbar-collapse collapse">
                <ul class="navbar-nav mr-auto">

                    {% block header_navigation_links %}
                        <li class="nav-item active">
                            <a class="nav-link" href="{{ path('index') }}">
                                <i class="fa fa-home" aria-hidden="true"></i> {{ 'menu.homepage'|trans }}
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('blog') }}">
                                <i class="fa fa-pencil" aria-hidden="true"></i> {{ 'menu.blog'|trans }}
                            </a>
                        </li>

                        {% if is_granted('ROLE_ADMIN') %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('index') }}">
                                <i class="fa fa-lock" aria-hidden="true"></i> {{ 'menu.admin'|trans }}
                            </a>
                        </li>
                        {% endif %}
                    {% endblock %}

                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('index') }}"> <i class="fa fa-search"></i> {{ 'menu.search'|trans }}</a>
                    </li>
                </ul>
                <ul class="navbar-nav">
                    {% if app.user %}
                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" id="user">
                                <i class="fa fa-user" aria-hidden="true"></i> {{ app.user.displayName }}
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu user" role="menu" aria-labelledby="user">
                                <li class="dropdown-item">
                                    <a href="{{ path('index') }}">
                                        <i class="fa fa-edit" aria-hidden="true"></i> {{ 'menu.user'|trans }}
                                    </a>
                                </li>
                                <li class="dropdown-divider"></li>
                                <li class="dropdown-item">
                                    <a href="{{ path('index') }}">
                                        <i class="fa fa-sign-out" aria-hidden="true"></i> {{ 'menu.logout'|trans }}
                                    </a>
                                </li>
                            </ul>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a href="{{ path('login') }}" class="nav-link"><i class="fa fa-power-on"></i> {{ 'menu.login'|trans }}</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</header>