{#
   This is the base template used as the application layout which contains the
   common elements and decorates all the other templates.
   See https://symfony.com/doc/current/book/templating.html#template-inheritance-and-layouts
#}
<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>{% block title %}GameHer{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>

<body id="{% block body_id %}{% endblock %}">

{% block header %}{{ include('partials/_navbar.html.twig') }}{% endblock %}

<div class="container body-container">
    {% block body %}
        <div class="row">
            <div id="main" class="col-sm-9">
                {{ include('partials/_flash_messages.html.twig') }}

                {% block main %}{% endblock %}
            </div>

            <div id="sidebar" class="col-sm-3">
                {% block sidebar %}
                    {{ render_esi(controller('Symfony\\Bundle\\FrameworkBundle\\Controller\\TemplateController::templateAction', {
                        'template': 'partials/_about.html.twig',
                        'sharedAge': 600,
                        '_locale': app.request.locale
                    })) }}
                {% endblock %}
            </div>
        </div>
    {% endblock %}
</div>

{% block footer %}
    <footer>
        <div class="container">
            <div class="row">
                <div id="footer-copyright" class="col-md-6">
                    <p>&copy; {{ 'now'|date('Y') }} - The Symfony Project</p>
                    <p>{{ 'mit_license'|trans }}</p>
                </div>
                <div id="footer-resources" class="col-md-6">
                    <p>
                        <a href="https://twitter.com/symfony" title="Symfony Twitter">
                            <i class="fa fa-twitter" aria-hidden="true"></i>
                        </a>
                        <a href="https://www.facebook.com/SensioLabs" title="SensioLabs Facebook">
                            <i class="fa fa-facebook" aria-hidden="true"></i>
                        </a>
                        <a href="https://symfony.com/blog/" title="Symfony Blog">
                            <i class="fa fa-rss" aria-hidden="true"></i>
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </footer>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
</body>
</html>