{% spaceless %}
	{% for member in members %}
		<div class="col s4 l3 gameherMember">
			<div class="gameherMember__image">
				<img src="{{ (member.picture is not null) ? asset('uploads/members/' ~ member.picture) : asset('build/img/esport/player.png') }}" alt="{{ member.nickname }}" class="gameherMember__image">
			</div>
			<p class="gameherMember__name">{{ member.firstname }} <span class="gameherMember__nickname">{{ member.nickname }}</span> {{ member.lastName }}</p>
			<p class="gameherMember__role">{{ member.role.name |trans }}</p>
			<p class="gameherMember__social">
				{% if member.twitch is not null %}<a href="//twitch.tv/{{ member.twitch }}" target="_blank" rel="noreferrer noopener"><i class="fab fa-twitch"></i></a> {% endif %}
				{% if member.twitter is not null %}<a href="//twitter.com/{{ member.twitter }}" target="_blank" rel="noreferrer noopener"><i class="fab fa-twitter"></i></a> {% endif %}
				{% if member.instagram is not null %}<a href="//instagram.com/{{ member.instagram }}" target="_blank" rel="noreferrer noopener"><i class="fab fa-instagram"></i></a> {% endif %}
				{% if member.facebook is not null %}<a href="//facebook.com/{{ member.facebook }}" target="_blank" rel="noreferrer noopener"><i class="fab fa-facebook-square"></i></a> {% endif %}
			</p>
		</div>
	{% endfor %}
{% endspaceless %}
