{% extends 'base.html.twig' %}

{% block body_id 'about' %}

{% block main %}

	<section class="numbersBanner">
		<div class="container">
			<h1 class="numbersBanner__title">Quelques chiffres</h1>
			<hr>
			<div class="row">
				<div class="col s6 m3 numbersBanner__cell">
					<div class="numbersBanner__number">2017</div>
					<div class="numbersBanner__legend">Création</div>
				</div>
				<div class="col s6 m3 numbersBanner__cell">
					<div class="numbersBanner__number">31</div>
					<div class="numbersBanner__legend">Membres</div>
				</div>
				<div class="col s6 m3 numbersBanner__cell">
					<div class="numbersBanner__number">2</div>
					<div class="numbersBanner__legend">Teams</div>
				</div>
				<div class="col s6 m3 numbersBanner__cell">
					<div class="numbersBanner__number">5</div>
					<div class="numbersBanner__legend">Compétitions</div>
				</div>
			</div>
			<hr>
			<div class="numbersBanner__arrow"><i class="fa fa-long-arrow-alt-down"></i></div>
		</div>
	</section>

	<section class="container whoAreWe">
		<div class="row">
			<div class="col s12 l6">
				<h3 class="whoAreWe__title">Qui sommes nous ?</h3>
				<p>Game'Her est une association créée en août 2017 aspirant à développer un environnement sain pour les joueuses en leur donnant les outils nécessaires pour s'épanouir et évoluer dans les domaines du jeu vidéo, de l'esport et/ou de l'audiovisuel, tout en ne les enfermant pas dans un milieu exclusivement féminin.</p>
				<p>Le but étant de s'ouvrir à la mixité et de démocratiser la place de la femme, selon nous reléguée en arrière-plan dans l'univers du jeu vidéo.</p>
			</div>
			<div class="col s12 l6 whoAreWe__illustration">
				<img src="{{ asset('build/img/about/whoarewe.png') }}" alt="GameHer" class="whoAreWe__picture">
				<div class="whoAreWe__sideblock">
					Nous sommes une équipe de passionnés, motivés par le jeu-vidéo sous tous ses aspects rêvant de voir s'épanouir la notion de mixité et diversité au sein de ce milieu.
				</div>
			</div>
		</div>
	</section>

	<section class="container">
		<div class="row memberToggler">
			<a class="col memberToggle active" data-toggle="direction">Direction</a>
			<a class="col memberToggle" data-toggle="administration">Administration</a>
			<a class="col memberToggle" data-toggle="members">Membres</a>
			<a class="col memberToggle" data-toggle="esport">Esport</a>
		</div>

		{#	Direction	#}
		<div class="row membersList direction active">
			{% include 'views/team/_membersList.html.twig' with {members: direction} %}
		</div>

		{#	Administration	#}
		<div class="row membersList administration">
			{% include 'views/team/_membersList.html.twig' with {members: administration} %}
		</div>

		{#	Membres	#}
		<div class="row membersList members">
			{% include 'views/team/_membersList.html.twig' with {members: members} %}
		</div>

		{#	Esport	#}
		<div class="row membersList esport">
			{% for member in esports %}
				<div class="col s4 l3 gameherMember">
					<div class="gameherMember__image">
						<img src="{{ (member.picture is not null) ? asset('uploads/members/' ~ member.picture) : asset('build/img/esport/player.png') }}" alt="{{ member.nickname }}" class="gameherMember__image">
					</div>
					<p class="gameherMember__name">{{ member.firstname }} <span class="gameherMember__nickname">{{ member.nickname }}</span> {{ member.lastName }}</p>
					<p class="gameherMember__role">{{ ('esport.member.role.' ~ member.role) |trans }}</p>
					<p class="gameherMember__social">
						{% if member.twitch is not null %}<a href="//twitch.tv/{{ member.twitch }}" target="_blank" rel="noreferrer noopener"><i class="fab fa-twitch"></i></a> {% endif %}
						{% if member.twitter is not null %}<a href="//twitter.com/{{ member.twitter }}" target="_blank" rel="noreferrer noopener"><i class="fab fa-twitter"></i></a> {% endif %}
						{% if member.instagram is not null %}<a href="//instagram.com/{{ member.instagram }}" target="_blank" rel="noreferrer noopener"><i class="fab fa-instagram"></i></a> {% endif %}
						{% if member.facebook is not null %}<a href="//facebook.com/{{ member.facebook }}" target="_blank" rel="noreferrer noopener"><i class="fab fa-facebook-square"></i></a> {% endif %}
					</p>
				</div>
			{% endfor %}
		</div>
	</section>
	<hr>
{% endblock %}

