{% extends 'base.html.twig' %}

{% block title 'A propos - GameHer' %}
{% block body_id 'about' %}

{% block main %}

	<section class="numbersBanner">
		<div class="container">
			<h1 class="numbersBanner__title">{{ 'about.kpi.title' |trans }}</h1>
			<hr>
			<div class="row">
				<div class="col s6 m3 numbersBanner__cell">
					<div class="numbersBanner__number">2017</div>
					<div class="numbersBanner__legend">{{ 'about.kpi.creation'| trans }}</div>
				</div>
				<div class="col s6 m3 numbersBanner__cell">
					<div class="numbersBanner__number">{{ members|length + administration|length + direction|length + esports|length }}</div>
					<div class="numbersBanner__legend">{{ 'about.kpi.members'| trans }}</div>
				</div>
				<div class="col s6 m3 numbersBanner__cell">
					<div class="numbersBanner__number">2</div>
					<div class="numbersBanner__legend">{{ 'about.kpi.teams'| trans }}</div>
				</div>
				<div class="col s6 m3 numbersBanner__cell">
					<div class="numbersBanner__number">6</div>
					<div class="numbersBanner__legend">{{ 'about.kpi.competitions'| trans }}</div>
				</div>
			</div>
			<hr>
			<div class="numbersBanner__arrow"><img src="{{ asset('build/img/about/fleche.png') }}" alt="Voir plus"></div>
		</div>
	</section>

	<section class="container whoAreWe">
		<div class="row">
			<div class="col s12 l6">
				<h3 class="whoAreWe__title">{{ 'about.whoarewe.title' |trans }}</h3>
				<p>{{ 'about.whoarewe.description1' |trans |nl2br }}</p>
				<p>{{ 'about.whoarewe.description2' |trans |nl2br }}</p>
				<p>{{ 'about.whoarewe.description3' |trans |nl2br }}</p>
				<p>{{ 'about.whoarewe.description4' |trans |nl2br }}</p>
				<p>{{ 'about.whoarewe.description5' |trans |nl2br }}</p>
				<p>{{ 'about.whoarewe.description6' |trans |nl2br }}</p>
			</div>
			<div class="col s12 l6 whoAreWe__illustration">
				<img src="{{ asset('build/img/about/whoarewe.png') }}" alt="GameHer" class="whoAreWe__picture">
				<div class="whoAreWe__aside">{{ 'about.whoarewe.aside' |trans }}</div>
			</div>
		</div>
	</section>

	<section class="container">
		<div class="row memberToggler">
			<a class="col memberToggle active" data-toggle="direction">{{ 'about.category.direction' |trans }}</a>
			<a class="col memberToggle" data-toggle="administration">{{ 'about.category.administration' |trans }}</a>
			<a class="col memberToggle" data-toggle="members">{{ 'about.category.members' |trans }}</a>
		</div>

		{#	Direction	#}
		<div class="row membersList direction active">
			{% include 'views/team/_membersList.html.twig' with {members: direction} %}
		</div>

		{#	Administration	#}
		<div class="row membersList administration">
			{% include 'views/team/_membersList.html.twig' with {members: administration} %}
		</div>

		{#	Membres	#}
		<div class="row membersList members">
			{% include 'views/team/_membersList.html.twig' with {members: members} %}
		</div>
	</section>
	<hr>
{% endblock %}

