{% extends 'base.html.twig' %}

{% block title 'A propos - GameHer' %}
{% block body_id 'about' %}

{% block main %}

	<section class="numbersBanner">
		<div class="container">
			<h1 class="numbersBanner__title">{{ 'about.kpi.title' |trans }}</h1>
			<hr>
			<div class="row">
				<div class="col s6 m3 numbersBanner__cell">
					<div class="numbersBanner__number">2017</div>
					<div class="numbersBanner__legend">{{ 'about.kpi.creation'| trans }}</div>
				</div>
				<div class="col s6 m3 numbersBanner__cell">
					<div class="numbersBanner__number">{{ members|length + administration|length + direction|length + esports|length }}</div>
					<div class="numbersBanner__legend">{{ 'about.kpi.members'| trans }}</div>
				</div>
				<div class="col s6 m3 numbersBanner__cell">
					<div class="numbersBanner__number">2</div>
					<div class="numbersBanner__legend">{{ 'about.kpi.teams'| trans }}</div>
				</div>
				<div class="col s6 m3 numbersBanner__cell">
					<div class="numbersBanner__number">6</div>
					<div class="numbersBanner__legend">{{ 'about.kpi.competitions'| trans }}</div>
				</div>
			</div>
			<hr>
			<div class="numbersBanner__arrow"><img src="{{ asset('build/img/about/fleche.png') }}" alt="Voir plus"></div>
		</div>
	</section>

	<section class="container whoAreWe">
		<div class="row">
			<div class="col s12 l6">
				<h3 class="whoAreWe__title">{{ 'about.whoarewe.title' |trans }}</h3>
				<p>{{ 'about.whoarewe.description1' |trans |nl2br }}</p>
				<p>{{ 'about.whoarewe.description2' |trans |nl2br }}</p>
				<p>{{ 'about.whoarewe.description3' |trans |nl2br }}</p>
			</div>
			<div class="col s12 l6 whoAreWe__illustration">
				<img src="{{ asset('build/img/about/whoarewe.png') }}" alt="GameHer" class="whoAreWe__picture">
				<div class="whoAreWe__aside">{{ 'about.whoarewe.aside' |trans }}</div>
			</div>
		</div>
	</section>

	<section class="container">
		<div class="row memberToggler">
			<a class="col memberToggle active" data-toggle="direction">{{ 'about.category.direction' |trans }}</a>
			<a class="col memberToggle" data-toggle="administration">{{ 'about.category.administration' |trans }}</a>
			<a class="col memberToggle" data-toggle="members">{{ 'about.category.members' |trans }}</a>
			<a class="col memberToggle" data-toggle="esport">{{ 'about.category.esport' |trans }}</a>
		</div>

		{#	Direction	#}
		<div class="row membersList direction active">
			{% include 'views/team/_membersList.html.twig' with {members: direction} %}
		</div>

		{#	Administration	#}
		<div class="row membersList administration">
			{% include 'views/team/_membersList.html.twig' with {members: administration} %}
		</div>

		{#	Membres	#}
		<div class="row membersList members">
			{% include 'views/team/_membersList.html.twig' with {members: members} %}
		</div>

		{#	Esport	#}
		<div class="row membersList esport">
			{% set newArray = [] %}
			{% for member in esports %}
				{% if member.nickname not in newArray %}
				{% set newArray = newArray|merge([member.nickname]) %}
				<div class="col s12 m4 l3 gameherMember">
					<div class="gameherMember__image">
						<img src="{{ (member.picture is not null) ? asset('uploads/members/' ~ member.picture) : asset('build/img/esport/player.png') }}" alt="{{ member.nickname }}" class="gameherMember__image">
					</div>
					<p class="gameherMember__name">{{ member.firstname }} <span class="gameherMember__nickname">{{ member.nickname }}</span> {{ member.lastName }}</p>
					<p class="gameherMember__role">{{ ('esport.member.role.' ~ member.role) |trans }}</p>
					<p class="gameherMember__social">
						{% if member.twitch is not null %}<a href="//twitch.tv/{{ member.twitch }}" target="_blank" rel="noreferrer noopener"><i class="fab fa-twitch"></i></a> {% endif %}
						{% if member.twitter is not null %}<a href="//twitter.com/{{ member.twitter }}" target="_blank" rel="noreferrer noopener"><i class="fab fa-twitter"></i></a> {% endif %}
						{% if member.instagram is not null %}<a href="//instagram.com/{{ member.instagram }}" target="_blank" rel="noreferrer noopener"><i class="fab fa-instagram"></i></a> {% endif %}
						{% if member.facebook is not null %}<a href="//facebook.com/{{ member.facebook }}" target="_blank" rel="noreferrer noopener"><i class="fab fa-facebook-square"></i></a> {% endif %}
					</p>
				</div>
				{% endif %}
			{% endfor %}
		</div>
	</section>
	<hr>
{% endblock %}

