{% extends 'base.html.twig' %}

{% block title 'Recrutement - GameHer' %}
{% block body_id 'recruitment' %}

{% block main %}
    {% include "common/separateBanner.html.twig" with {
        className: "sectionRed",
        mainTitle: "recruitment.title" | trans,
        content: "recruitment.subtitle" | trans,
        image_url: "/build/img/recrutement/PHOTOGRAPHIE.png",
    } only %}
    {% include "common/dataList.html.twig" with {
        element_class: "sectionBlue",
        title_pole: "recruitment.titlePole" | trans,
        explanation: "recruitment.explanation" | trans,
         elements : [
            {
                logo_url: "/build/img/recrutement/PICTO_ESPORT.png",
                title: "Pôle Esport",
                title_class: "esportTitle",
                content: "Nous encadrons trois équipes 100% mixtes sur les jeux League of Legends et Hearthstone. Nous véhiculons notre message de mixité au travers de notre présence en LAN.",
            },
            {
                logo_url: "/build/img/recrutement/PICTO_COMMUCATION.png",
                title: "Pôle Communication",
                title_class: "communicationTitle",
                content: "Développement de la stratégie de communication dans l'optique de développer la visibilité de l'association sur les réseaux sociaux, au quotidien lors de nos événements ou de ceux auxquels nous participons.",
            },
            {
                logo_url: "/build/img/recrutement/PICTO_TWITCH.png",
                title: "Pôle Streaming",
                title_class: "streamingTitle",
                content: "Via la plateforme Twitch, nos streamers et casters proposent des lives sur divers jeux afin de diveritr notre communauté et de créer de l'interaction avec l'ensemble de la communauté.",
            },
            {
                logo_url: "/build/img/recrutement/PICTO_TOURNOIS.png",
                title: "Pôle Evénementiel",
                title_class: "tournoiTitle",
                content: "Mise en place de tournois et d'événements au nom de l'association afin de permettre aux joueurs et joueuses d'appréhender le milieu et de s'insérer dans l'esport au travers d'un environnement sain.",
            },
            {
                logo_url: "/build/img/recrutement/PICTO_GRAPHISME.png",
                title: "Pôle Graphisme",
                title_class: "graphismeTitle",
                content: "Nos graphistes produisent tous les visuels nécessaires à Game'Her pour sa communication, sa présence en ligne, ses événements, ses relations partenariales, ...",
            },
            {
                logo_url: "/build/img/recrutement/PICTO_PRESSE.png",
                title: "Pôle Presse",
                title_class: "presseTitle",
                content: "Nos rédacteurs et éditeurs réalisent des articles de presse suivant une ligne éditoriale sur les thèmes de l'esport, du jeu vidéo et de la mixité dans ces secteurs.",
            }
        ]
    } only %}
    <section class="container contact">
        <div class="row">
            <div class="col s12 l6 contact__leftPanel">
                <h1 class="contact__title">{{ 'contact.title' |trans }}</h1>
                <p>Vous souhaitez nous rejoindre ? Envoyez nous un mail de motivation via le formulaire ci-contre et nous vous répondrons le plus rapidement possible !</p>
                <ul class="contact__links">
                    <li><i class="fa fa-fw fa-edit"></i> contact@gameher.fr</li>
                    <li><i class="fa fa-fw fa-bookmark"></i> esport@gameher.fr</li>
                    <li><i class="fa fa-fw fa-fire"></i> partenariat@gameher.fr</li>
                    <li><i class="fa fa-fw fa-bell"></i> recrutement@gameher.fr</li>
                    <li class="contact__socials">
                        <a href="//twitter.com/GameHer" title="GameHer Twitter"><i class="fab fa-twitter" aria-hidden="true"></i>                    </a>
                        <a href="//facebook.com/GameHer" title="GameHer Facebook"><i class="fab fa-facebook-square" aria-hidden="true"></i>                    </a>
                        <a href="//youtube.com/channel/UCEpAdXm_wIiYXJ5wueVQIcg/featured" title="GameHer Youtube"><i class="fab fa-youtube" aria-hidden="true"></i></a>
                        <a href="//twitch.tv/gamehertv" title="GameHer Twitch"><i class="fab fa-twitch" aria-hidden="true"></i></a>
                        <a href="//discordapp.com/invite/vKpbwh6" title="GameHer Discord"><i class="fab fa-discord" aria-hidden="true"></i></a>
                        <a href="//instagram.com/gameheroff/" title="GameHer Instagram"><i class="fab fa-instagram" aria-hidden="true"></i></a>
                    </li>
                </ul>
            </div>
            <div class="col s12 l6">
                {{ form_start(form) }}
                <div class="row">
                    <div class="input-field col s12">
                        {{ form_widget(form.subject) }}
                        {{ form_label(form.subject) }}
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        {{ form_widget(form.nickname) }}
                        {{ form_label(form.nickname) }}
                    </div>
                    <div class="input-field col s6">
                        {{ form_widget(form.email) }}
                        {{ form_label(form.email) }}
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        {{ form_widget(form.message) }}
                        {{ form_label(form.message) }}
                    </div>
                    <div class="col s12 contact__dataUsage">
                        <label class="contact__dataUsageLabel">
                            {{ form_widget(form.data_usage) }}
                            <span class="contact__dataUsageSpan">{{ 'contact.form.data_usage' |trans }}</span>
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        {{ form_row(form.send) }}
                    </div>
                </div>
                {{ form_end(form) }}
            </div>

            {#
                                <div class="col s12 contact__dataUsage">
                                    <label class="contact__dataUsageLabel">
                                        <input type="checkbox" class="filled-in" name="data_usage" required />
                                        <span class="contact__dataUsageSpan">{{ 'contact.form.data_usage' |trans }}</span>
                                    </label>
                                </div>
            #}
        </div>
    </section>
	<hr>
{% endblock %}
