{% extends 'base.html.twig' %}
{% trans_default_domain 'admin' %}

{% block body_id 'admin' %}

{% block header %}
	{% include 'admin/_sidenav.html.twig' %}
{% endblock %}

{% block flash_messages %}
	<div class="container-fluid">
		{{ include('partials/_flash_messages.html.twig') }}
	</div>
{% endblock %}

{% block main %}
	<div class="container">
		{% block content %}{% endblock %}
	</div>
{% endblock %}

{% block footer %}{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('admin') }}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('admin') }}
{% endblock %}
