{% extends 'base.html.twig' %}
{% trans_default_domain 'admin' %}

{% block body_id 'admin' %}
{% set route = app.request.attributes.get('_route') %}

{% macro activeLink(path) %}
	{% if app.request.attributes.get('_route') starts with path %}active{% endif %}
{%  endmacro %}

{% block header %}
	<ul class="sidenav sidenav-fixed">
		<li class="logo">
			<a href="{{ path('admin') }}" class="brand-logo"><img src="{{ asset('build/img/logo.png') }}" alt="GameHer"></a>
		</li>
		{% if is_granted('ROLE_REDACTEUR') %}
			<li>
				<a class="nav-link {{ _self.activeLink('admin_posts') }}" href="{{ path('admin_posts_index') }}"><i class="fa fa-fw fa-book mr-2 fa-2x"></i> Articles</a>
			</li>
		{% endif %}
		{% if is_granted('ROLE_ADMIN') %}
			<li>
				<a class="nav-link {{ _self.activeLink('admin_partners') }}" href="{{ path('admin_partners_index') }}"><i class="fa fa-fw fa-handshake mr-2 fa-2x"></i> Partenaires</a>
			</li>
			<li>
				<a class="nav-link {{ _self.activeLink('admin_members') }}" href="{{ path('admin_members_index') }}"><i class="fa fa-fw fa-users mr-2 fa-2x"></i> Membres</a>
			</li>
			<li>
				<a class="nav-link {{ _self.activeLink('admin_roles') }}" href="{{ path('admin_roles_index') }}"><i class="fa fa-fw fa-sitemap mr-2 fa-2x"></i> Roles</a>
			</li>
			<li>
				<a class="nav-link {{ _self.activeLink('admin_streamers') }}" href="{{ path('admin_streamers_index') }}"><i class="fa fa-fw fa-sitemap mr-2 fa-2x"></i> Roles</a>
			</li>
		{% endif %}
	</ul>
{% endblock %}

{% block main %}
	<div style="padding-left: 300px;">
		<div class="container">
		{% block content %}{% endblock %}
		</div>
	</div>
{% endblock %}

{% block footer %}{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('admin') }}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('admin') }}
{% endblock %}
