  
{% spaceless %}
<section class="{{ element_class | default('') }}">
    <div class="container">
        <div class="dataList-wrapper">
            <h2 class="dataList-title">{{ title_pole }}</h2>
            <p class="dataList-text">{{ explanation }}</p>
            <div class="row fix-immonde">
                {% for element in elements %}
                    <div class="col s12 m5 l4 add-padding">
                        <div class="icon-block">
                            <img src="{{ element.logo_url }}" class="dataList-picto" alt="{{ element.title }}"/>
                            <h5 class="{{ element.title_class | default('') }}" style="text-align: center;">{{ element.title }}</h5>
                            <p class="light" style="text-align: center;">{{ element.content }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
{% endspaceless %}
