{% spaceless %}
<section class="{{ element_class | default('') }}">
    <div class="container">
        <h2 class="recruitment-title">{{ explanation }}</h2>
        <div class="row">
            {% for element in elements %}
                <div class="col s4">
                    <div class="icon-block">
                        <img src="{{ element.logo_url }}"/>
                        <h5 class="{{ titleClass | default('') }}">{{ element.title }}</h5>
                        <p class="light">{{ element.content }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endspaceless %}
