<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>{% block title %}GameHer{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.png') }}" />
		<!-- Google Tag Manager -->
		<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
		new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
		j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
		'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
		})(window,document,'script','dataLayer','GTM-5ZGV4CV');</script>
		<!-- End Google Tag Manager -->
</head>

<body id="{% block body_id %}{% endblock %}">
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5ZGV4CV"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

{% block header %}{{ include('partials/_navbar.html.twig') }}{% endblock %}

<main>
		{% block flash_messages %}
		<div class="container-fluid">
			{{ include('partials/_flash_messages.html.twig') }}
		</div>
		{% endblock %}
		{% block main %}{% endblock %}

{% block footer %}
	{{ include('partials/_footer.html.twig') }}
{% endblock %}
</main>

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-135624244-1"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());

			gtag('config', 'UA-135624244-1');
		</script>
{% endblock %}
</body>
</html>
