{#
   This is the base template used as the application layout which contains the
   common elements and decorates all the other templates.
   See https://symfony.com/doc/current/book/templating.html#template-inheritance-and-layouts
#}
<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>{% block title %}GameHer{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.png') }}" />
</head>

<body id="{% block body_id %}{% endblock %}">

{% block header %}{{ include('partials/_navbar.html.twig') }}{% endblock %}

<main>
		{% block flash_messages %}
		<div class="container-fluid">
			{{ include('partials/_flash_messages.html.twig') }}
		</div>
		{% endblock %}
		{% block main %}{% endblock %}

{% block footer %}
	{{ include('partials/_footer.html.twig') }}
{% endblock %}
</main>

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
</body>
</html>
