{% spaceless %}
	{% for player in players %}
		<div class="col s12 m4 l4 esportPlayer">
			<div class="esportPlayer__image">
				<img src="{{ (player.picture is not null) ? asset('uploads/members/' ~ player.picture) : asset('build/img/esport/player.png') }}" alt="{{ player.nickname }}" class="esportPlayer__image">
			</div>
			<p class="esportPlayer__name">{{ player.firstname }} <span class="esportPlayer__nickname">{{ player.nickname }}</span> {{ player.lastName }}</p>
			<p class="esportPlayer__role">{{ ('esport.member.role.' ~ player.role) |trans }}</p>
			<p class="esportPlayer__social">
				{% if player.twitch is not null %}<a href="//twitch.tv/{{ player.twitch }}" target="_blank" rel="noreferrer noopener"><i class="fab fa-twitch"></i></a> {% endif %}
				{% if player.twitter is not null %}<a href="//twitter.com/{{ player.twitter }}" target="_blank" rel="noreferrer noopener"><i class="fab fa-twitter"></i></a> {% endif %}
				{% if player.instagram is not null %}<a href="//instagram.com/{{ player.instagram }}" target="_blank" rel="noreferrer noopener"><i class="fab fa-instagram"></i></a> {% endif %}
				{% if player.facebook is not null %}<a href="//facebook.com/{{ player.facebook }}" target="_blank" rel="noreferrer noopener"><i class="fab fa-facebook-square"></i></a> {% endif %}
			</p>
		</div>
	{% endfor %}
{% endspaceless %}
