{% extends 'base.html.twig' %}

{% block title 'Esport - GameHer' %}
{% block body_id 'esport' %}

{% block main %}
	{% include "common/titleBanner.html.twig" with {
		mainTitle: "esport.title" | trans,
		content: "esport.subtitle" | trans,
		color: 'var(--gh-orange)',
	} only %}

	{#	League Of Legends	#}
	<section class="leagueTeams open">
		<div class="container">
			<div class="row leagueTeams__trigger">
				<div class="col s12 l6">
					<div class="leagueTeams__title">{{ 'esport.league.title'|trans }}</div>
					<p class="leagueTeams__description esportToggled main">{{ 'esport.team.description.team_main' |trans }}</p>
					<p class="leagueTeams__description esportToggled academy">{{ 'esport.team.description.team_academy' |trans }}</p>
				</div>
				<div class="col s12 l6">
					<div class="row">
						<div class="col s6 leagueTeams__team">
							<p class="leagueTeams__teamName">{{ 'esport.league.main_team'|trans }}</p>
							<button class="btn btn-show leagueTeams__button" data-team="main">
								<span class="GHshow">{{ 'esport.league.show_team'|trans }}</span>
								<span class="GHhide">{{ 'esport.league.hide_team'|trans }}</span>
							</button>
						</div>
						<div class="col s6 leagueTeams__team">
							<p class="leagueTeams__teamName">{{ 'esport.league.academy_team'|trans }}</p>
							<button class="btn btn-show leagueTeams__button" data-team="academy">
								<span class="GHshow">{{ 'esport.league.show_team'|trans }}</span>
								<span class="GHhide">{{ 'esport.league.hide_team'|trans }}</span>
							</button>
						</div>
					</div>
				</div>
			</div>

			{#	Main Team	#}
			<div class="row esportToggled main">
				{% include 'views/esport/_playersList.html.twig' with {players: main_team} %}
			</div>

			{#	Academy Team	#}
			<div class="row esportToggled academy">
				{% include 'views/esport/_playersList.html.twig' with {players: academy} %}
			</div>

		</div>
	</section>
{% endblock %}
