{% extends 'base.html.twig' %}

{% block body_id 'esport' %}

{% block main %}
	{% include "common/titleBanner.html.twig" with {
		mainTitle: "esport.title" | trans,
		content: "esport.subtitle" | trans,
		color: 'var(--gh-orange)',
	} only %}

	{#	League Of Legends	#}
	<section class="leagueTeams open">
		<div class="container">
			<div class="row">
				<div class="col s12 l6">
					<div class="leagueTeams__title">{{ 'esport.league.title'|trans }}</div>
					<p class="leagueTeams__description esportToggled main">
						L'équipe GameHer Esport League of Legends est la figure de proue de notre structure. Elle est un mélange parfait de la notion de mixité et des objectifs de performance que nous souhaitons voir émerger dans l'esport.
					</p>
					<p class="leagueTeams__description esportToggled academy">
						L'équipe GameHer Esport Academy.
					</p>
				</div>
				<div class="col s12 l6">
					<div class="row">
						<div class="col s6 leagueTeams__team">
							<p class="leagueTeams__teamName">{{ 'esport.league.main_team'|trans }}</p>
							<button class="btn btn-show leagueTeams__button" data-team="main">{{ 'esport.league.show_team'|trans }}</button>
						</div>
						<div class="col s6 leagueTeams__team">
							<p class="leagueTeams__teamName">{{ 'esport.league.academy_team'|trans }}</p>
							<button class="btn btn-show leagueTeams__button" data-team="academy">{{ 'esport.league.show_team'|trans }}</button>
						</div>
					</div>
				</div>
			</div>

			{#	Main Team	#}
			<div class="row esportToggled main">
				{% include 'views/esport/_playersList.html.twig' with {players: main_team} %}
			</div>

			{#	Academy Team	#}
			<div class="row esportToggled academy">
				{% include 'views/esport/_playersList.html.twig' with {players: academy} %}
			</div>

		</div>
	</section>
{% endblock %}
