{% extends 'admin/admin.html.twig' %}

{% block main %}

    <div class="row">
        <div class="col col-12">
            <h1>{{ member.nickname }}</h1>
        </div>
        <div class="col col-3">
            <img src="{{ asset('uploads/members/' ~ member.picture) }}" alt="{{ member.nickname }}" style="max-width:100%;">
        </div>
        <div class="col col-9">
            <p>{{ member.firstname }} {{ member.lastname }}</p>
            <p><i class="fa fa-globe"></i> {{ member.twitch }}</p>
            <p><i class="fab fa-twitter"></i> {{ member.twitter }}</p>
            <p><i class="fab fa-facebook"></i> {{ member.facebook }}</p>
            <p><i class="fab fa-instagram"></i> {{ member.instagram }}</p>
        </div>
    </div>

{% endblock %}

{% block sidebar %}
    <div class="section actions">
        <a href="{{ path('admin_members_edit', {uuid: member.uuidAsString}) }}" class="btn btn-lg btn-block btn-success">
            <i class="fa fa-edit" aria-hidden="true"></i> Edit
        </a>
        <a href="{{ path('admin_members_index') }}" class="btn btn-lg btn-block btn-info">
            <i class="fa fa-return" aria-hidden="true"></i> Back
        </a>
        <a href="{{ path('admin_members_delete', {uuid: member.uuidAsString}) }}" class="btn btn-lg btn-block btn-danger">
            <i class="fa fa-plus" aria-hidden="true"></i> Delete
        </a>
    </div>

    {{ parent() }}
{% endblock %}
