{% extends 'admin/admin.html.twig' %}

{% block content %}

    <div class="row">
        <div class="col col-12">
            <h1>{{ partner.name }}</h1>
        </div>
        <div class="col col-3">
            <img src="{{ asset('uploads/partners/' ~ partner.logo) }}" alt="{{ partner.name }}" style="max-width:100%;">
        </div>
        <div class="col col-9">
            <p>{{ partner.description }}</p>
            <p><i class="fa fa-globe"></i> {{ partner.website }}</p>
            <p><i class="fab fa-twitter"></i> {{ partner.twitter }}</p>
            <p><i class="fab fa-facebook"></i> {{ partner.facebook }}</p>
            <p><i class="fab fa-instagram"></i> {{ partner.instagram }}</p>
        </div>
    </div>

{% endblock %}

