{% extends 'admin/admin.html.twig' %}
{% trans_default_domain 'admin' %}

{% block content %}
	<div class="row">
		<h2>{{ 'posts.index.title'|trans }}
			<span class="right">
				<a href="{{ path('admin_posts_new') }}" class="btn green">
					{{ 'default.action.add'|trans }}
					<i class="fa fa-plus" aria-hidden="true"></i>
				</a>
			</span>
		</h2>
	</div>

	<div class="row">
		<table class="responsive-table">
			<thead>
			<tr>
				<th scope="col">{{ 'posts.index.label.name'|trans }}</th>
				<th scope="col"><i class="fa fa-tag"></i> {{ 'posts.index.label.tags'|trans }}</th>
				<th scope="col"><i class="fa fa-pencil-alt" aria-hidden="true"></i> {{ 'posts.index.label.published_at'|trans }}</th>
				<th scope="col"><i class="fa fa-pencil-alt" aria-hidden="true"></i> {{ 'posts.index.label.updated_at'|trans }}</th>
				<th scope="col" class="center-align"><i class="fa fa-cogs" aria-hidden="true"></i> {{ 'posts.index.label.actions'|trans }}</th>
			</tr>
			</thead>
			<tbody>
			{% for post in posts %}
				<tr>
					<td>
						<div class="post__infos">
							<p>{{ post.title }}</p>
							<p>par <span class="post__author">{{ post.author.displayName }}</span></p>
						</div>
					</td>
					<td>
						<div class="post__tags">
						{% for tag in post.tags %}<span class="badge teal new" data-badge-caption="">{{ tag.name }}</span>{% endfor %}
						</div>
					</td>
					{% if post.publishedAt %}
						<td>{{ post.publishedAt| date('d/m/y H:i') }}</td>
					{% else %}
						<td>{{ 'posts.index.not_published'|trans }}</td>
					{% endif %}
					<td>{{ post.updatedAt| date('d/m/y H:i') }}</td>
					<td class="right-align">
						<div class="item-actions">
							<a href="{{ path('admin_posts_show', {uuid: post.uuidAsString}) }}" class="btn btn-floating pink" title="{{ 'default.action.show'|trans }}">
								<i class="fa fa-eye" aria-hidden="true"></i>
							</a>
							<a href="{{ path('admin_posts_edit', {uuid: post.uuidAsString}) }}" class="btn btn-floating purple" title="{{ 'default.action.edit'|trans }}">
								<i class="fa fa-edit" aria-hidden="true"></i>
							</a>
							<form action="{{ url('admin_posts_delete', {uuid: post.uuidAsString}) }}" method="post" data-confirmation="true" id="delete-form" style="display:inline-block">
								<input type="hidden" name="token" value="{{ csrf_token('delete') }}" />
								<button type="submit" class="btn btn-floating red" title="{{ 'default.action.delete'|trans }}">
									<i class="fa fa-trash" aria-hidden="true"></i>
								</button>
							</form>
						</div>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="5" align="center">{{ 'posts.index.no_results'|trans }}</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}
