{% extends 'admin/admin.html.twig' %}
{% trans_default_domain 'admin' %}

{% block body_id 'admin_post_show' %}

{% block content %}

	<div class="row">
		<div class="col s12 right-align">
			<a href="{{ path('admin_posts_index') }}" class="btn pink" title="{{ 'default.action.show'|trans }}">
				{{ 'default.action.back' |trans }}
				<i class="fa fa-backward" aria-hidden="true"></i>
			</a>
			<a href="{{ path('admin_posts_edit', {uuid: post.uuidAsString}) }}" class="btn purple" title="{{ 'default.action.edit'|trans }}">
				{{ 'default.action.edit' |trans }}
				<i class="fa fa-edit" aria-hidden="true"></i>
			</a>
			<form action="{{ url('admin_posts_delete', {uuid: post.uuidAsString}) }}" method="post" data-confirmation="true" id="delete-form" style="display:inline-block">
				<input type="hidden" name="token" value="{{ csrf_token('delete') }}" />
				<button type="submit" class="btn red" title="{{ 'default.action.delete'|trans }}">
					{{ 'default.action.delete' |trans }}
					<i class="fa fa-trash" aria-hidden="true"></i>
				</button>
			</form>
		</div>
	</div>

	<div class="row">
		<div class="col">
			<h2 class="article__second_title">{{ post.title }}</h2>
			<p class="article__metadata">
				Posté par {% for author in post.author %} <a class="article__author">{{ author.displayName }}</a> {% if not loop.last %}, {% endif %}{% endfor %} le {{ post.publishedAt |date('d M Y') }} dans<span>
						{% for tag in post.tags %}<a class="article__tag">{{ tag.name }}</a>{% if not loop.last %}, {% endif %}{% endfor %}
					</span>
			</p>
		</div>
	</div>

	<div class="row">
		<div class="col article__content">
			{{ post.content |raw }}
		</div>
	</div>
{% endblock %}
